#cartPanel.cartPanel.cartPanel_hidden(ng-controller='PanelController as panel')

    .cartPanel__title
        span.cartPanel__name Корзина
        span.cartPanel__close(ng-click='panel.hide()') ×
        
    #cart-list.cartPanel__list
            
        .cartPanel__item(ng-repeat='product in panel.selectedProducts track by $index')
            .cartPanel__head {{product.name}}
            .cartPanel__price {{product.price}} руб.
            .cartPanel__remove(ng-click="panel.remove(product, $index, $event)") ×
            
    .cartPanel__buy(data-remodal-target='make-order')
        .cartPanel__name(ng-click='panel.openOrderPage()') Купить
