.cartPanel {

    position: fixed;
    right: 0;
    bottom: 0;
    width: 30%;
    min-width: 400px;
    height: 80%;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow: hidden;
    z-index: 11;

    &_hidden {
        right: -150%;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    &_visible {
        right: 0;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    &__title {
        width: 100%;
        height: 80px;
        background-color: #3498db;
        text-align: center;
    }

    &__name {
        font-family: Roboto;
        font-weight: 300;
        font-size: 40px;
        color: #fff;
        line-height: 80px;
    }

    &__close {
        width: 30px;
        height: 30px;
        font-size: 40px;
        position: absolute;
        right: 10px;
        top: 20px;
        color: #fff;

        &:hover {
            cursor: pointer;
        }

    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: @backgroundGrey;
        border-bottom: 1px solid darken(@backgroundGrey, 10%);

        &_special {
            background-color: darken(@backgroundGrey, 10%);
            padding: 35px 20px;
            font-size: 30px;
            border-bottom: 1px solid darken(@backgroundGrey, 10%);
        }
    }

    &__image {
        width: 150px;
        height: 150px;
        background-size: contain;
        margin: 0 20px;
    }

    &__head {
        font-size: 15px;
        color: @primaryBlueColor;
        text-transform: uppercase;
        font-family: Roboto;
        font-weight: 400;

        &_special {
            font-size: 20px;
            color: darken(@primaryBlueColor, 10%);
        }
    }

    &__amount {
        margin: 10px 0;
        font-size: 20px;
        color: #2c3e50;
        font-family: Roboto;
        font-weight: 300;
    }

    &__price {
        font-size: 15px;
        color: #2c3e50;
        text-transform: uppercase;
        font-family: Roboto;
        font-weight: 400;

        &_special {
            font-size: 20px;
        }
    }

    &__remove {

        font-size: 25px;

        &:hover {
            cursor: pointer;
        }
        
    }

    &__text-container {
        height: 100%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        height: 60%;
        overflow: auto;
        align-items: center;
    }

    &__buy {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: #2980b9;

        &:hover {
            cursor: pointer;
        }

    }

}
