.button {
    padding: 10px 40px;
    border: none;
    outline: none;
    font-family: Roboto;
    cursor: pointer;

    &_disable {
        color: darken(#fff, 50%);
        background-color: darken(#fff, 20%);
        cursor: default;
    }

    &_dark {
        background-color: @primaryBlueColor;
    }

}
