.setupFuntional {
    padding: 50px 0;
    background-color: @backgroundGrey;

    &__title {
        margin: 0 0 20px 0;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        margin: 10px;
        padding-bottom: 60px;
        width: 350px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
        background-color: @primaryLightText;

    }

    &__name {
        margin: 20px 0;
        font-family: Roboto;
        font-weight: 300;
        font-size: 25px;
        text-align: center;
    }

    &__image {
        margin: 0 auto;
        width: 100%;
        height: 200px;
    }

    &__description {
        margin: 20px;
        text-align: center;
        font-family: 'Open Sans'
    }

    &__buy {

        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        background-color: @primaryBlueColor;
        text-align: center;
        color: @primaryLightText;
        font-family: Roboto;
        font-size: 30px;

        &:hover {
            cursor: pointer;
        }

    }

}
