.setupFuntional(ng-controller='FunctionalList as list')
    .container
    
    h2.setupFuntional__title.text_color_dark Дополнительные услуги

    // TODO: Rename 'setupFunctional' to 'product'
    
    .setupFuntional__list
        .setupFuntional__item(ng-repeat='item in list.items' ng-hide="$first")
            .setupFuntional__name {{item.name}}
            .setupFuntional__image(ng-hide="list.isVideo(item)" back-img="{{'/connects/uploads/' + item.image}}", back-size='contain')

            .setupFuntional__image(ng-show="list.isVideo(item)")
                iframe(ng-src='{{list.setVideo(item.video[0])}}', frameborder='0', allowfullscreen='allowfullscreen' style="width:100%;height:100%;")

            .setupFuntional__description {{item.description}}
            .setupFuntional__buy(ng-click='list.openProductPage($index)') Подробнее
