.baseProduct {
    padding: 50px 0;
    background-color: @backgroundDark;
    text-align: center;

    &__title {
        margin: 0 0 10px 0;
        text-align: center;
        display: inline;
    }

    &__cover {
        width: 540px;
        height: 360px;
        margin-right: 50px;
    }

    &__description {
        padding: 0;
        color: @primaryLightText;
        font-family: Roboto;
        font-size: 17px;
        text-align: justify;
    }

    &__price {
        font-family: Roboto;
        font-size: 30px;
        font-weight: 500;
        text-align: right;
    }

    &__button {
        display: inline-block;
        margin: 20px auto;
        padding: 10px 70px;
        font-size: 30px;
        text-align: center;
        color: #fff;
    }

    &__videoGallery {
        display: flex;
        flex-direction: row;
    }

}
