#baseProduct.baseProduct(ng-controller="BaseProductController as productCtrl")
    .container
        .baseProduct__item
            .row
            
                .column
                    .baseProduct__cover(back-img="{{'/connects/uploads/' + productCtrl.product.image}}"
                                        back-size='contain'
                                        ng-hide='productCtrl.isVideo()')

                    .baseProduct__cover(ng-show='productCtrl.isVideo()')
                        iframe(ng-src='{{productCtrl.setVideo(productCtrl.product.video[0])}}', frameborder='0', allowfullscreen='allowfullscreen' style='width:100%;height:100%;')
                    
                .column
                    h2#baseProductTitle.baseProduct__title.text_color_light {{productCtrl.product.name}}
                    p.baseProduct__description {{productCtrl.product.description}}
                    span.text_color_light.baseProduct__price {{productCtrl.product.price}} руб.
        
        //- .baseProduct__videoGallery
        //-     .productPage__video(ng-repeat='video in list.items[0].video')
        //-         iframe(ng-src='{{list.setVideo(video)}}', frameborder='0', allowfullscreen='allowfullscreen')
                    
        #baseProductButton.button.button_dark.baseProduct__button(ng-click='productCtrl.addToCart(list.items[0], 1); productCtrl.disableButton($event)') Добавить в корзину
