.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 100px 0;
    box-sizing: border-box;
    // background: rgba(0, 0, 0, 0.7) url('img/hero-bg.jpg') no-repeat center;
    background-blend-mode: overlay;
    background-size: cover;

    &__button {
        padding: 20px 100px;
        margin: 40px 0;
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 35px;
        color: @primaryLightText;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
    }

    &__title {
        text-align: center;

        &_primary {
            text-transform: uppercase;
        }

        &_secondary {
            max-width: 90%;
        }

    }

    &__video {
        width: 100%;
        height: 100%;
        background-color: red;
    }

}
