.hero(ng-controller="InfoController as Info")

    video-bg(video-id="Info.setVideo(Info.info[10].content)")

    h1.hero__title.hero__title_primary {{Info.info[6].content}}
    h4.hero__title.hero__title_secondary {{Info.info[7].content}}
    a.button.button_dark.hero__button(href='#baseProduct') Поехали
