.orderPage(ng-controller="OrderPageController as order")
    h1.orderPage__title Оформить заказ
    form#orderForm.orderPage__form
        input#orderName.orderPage__input(name='name', type='text', placeholder='Имя')
        input#orderMail.orderPage__input(name='email', type='text', placeholder='Email')
        input#orderPhone.orderPage__input(name='phone', type='text', placeholder='Телефон')
        button.orderPage__button.button.button_dark(ng-click='order.sendData()') Отправить заказ
