.orderPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    &__form {
        width: 70%;
    }

    &__title {
        font-family: Roboto;
        font-weight: 300;
        font-size: 60px;
    }

    &__input {
        width: 100%;
        margin: 20px 0;
        height: 50px;
        font-size: 20px;
        padding: 10px;
        display: block;
        border: none;
        border-bottom: 1px solid #757575;

        &:focus {
            outline: none;
        }

    }

    &__button {
        padding: 15px 0;
        width: 100%;
        font-family: Roboto;
        font-size: 20px;
        color: @primaryLightText;
    }

}
