| <?php
| include("classes/_class.config.php"); //файл с доступами к БД
| include("classes/_class.db.php"); //файл с классом БД

| # Класс с доступами к БД
| $config = new config;

| # Класс Базы данных
| $db = new db($config->HostDB, $config->UserDB, $config->PassDB, $config->BaseDB);
| ?>

//- | <?php
//- | header("Cache-Control: no-store, no-cache, must-revalidate, max-age=0");
//- | header("Cache-Control: post-check=0, pre-check=0", false);
//- | header("Pragma: no-cache");
//- | ?>

html(lang='en', ng-app='store')
    head
        meta(charset='UTF-8')

        meta(http-equiv="expires" content="Sun, 01 Jan 2014 00:00:00 GMT")
        meta(http-equiv="pragma" content="no-cache")

        | <?php
        |   $db->Query("SELECT * FROM metatags WHERE id = '1'");
        |   $tags = $db->FetchArray();
        |   	echo '<meta name="keywords" content="'.$tags['keywords'].'">';
        |   	echo '<meta name="description" content="'.$tags['description'].'">';
        |   	echo '<title>'.$tags['title'].'</title>';
        | ?>

        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js')
        script(src='js/index.js')
        link(rel='stylesheet', href='index.css')
        title E-commerce

    body

        include blocks/nav/nav.jade
        include blocks/hero/hero.jade
        include blocks/about/about.jade
        include blocks/baseProduct/baseProduct.jade
        include blocks/productList/productList
        include blocks/cartPanel/cartPanel.jade
        include blocks/cartSwitch/cartSwitch.jade
        include blocks/footer/footer.jade

        | <script type="text/ng-template" id="productPage">

        include blocks/productPage/productPage.jade

        | </script>

        | <script type="text/ng-template" id="orderPage">

        include blocks/orderPage/orderPage.jade

        | </script>
