@import "assets/libs/palette.less";
@import "assets/libs/fonts.less";
@import "assets/libs/media.less";
@import "assets/libs/ngDialog.min.less";
@import "assets/libs/ngDialog-theme-plain.less";

@import "assets/blocks/logo/logo.less";
@import "assets/blocks/button/button.less";
@import "assets/blocks/nav/nav.less";
@import "assets/blocks/hero/hero.less";
@import "assets/blocks/about/about.less";
@import "assets/blocks/productList/productList.less";
@import "assets/blocks/cartSwitch/cartSwitch.less";
@import "assets/blocks/cartPanel/cartPanel.less";
@import "assets/blocks/baseProduct/baseProduct.less";
@import "assets/blocks/productPage/productPage.less";
@import "assets/blocks/orderPage/orderPage.less";
@import "assets/blocks/footer/footer.less";


body, html {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: Roboto;
    font-size: 45px;
    font-weight: 500;
    color: @primaryLightText;
}

h2 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 40px;
}

h3 {
    font-size: 35px;
}

h4 {
    margin: 0;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    color: @primaryLightText;
}

.text {

    &_color {

        &_light {
            color: @primaryLightText;
        }

        &_dark {
            color: @primaryBlueColor;
        }

    }

}

.container {
    width: 1170px;
    max-width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.disable {
    background-color: #BDBDBD;
    cursor: default;
}
