div.productPage(ng-controller="ProductPageController as prpgCtrl")
    h1.productPage__title {{ngDialogData.name}}
    div.row.productPage__row
    
        div.column.productPage__column

            div.productPage__cover(ng-hide="prpgCtrl.isVideo(ngDialogData.image)" back-img="{{'/connects/uploads/' + ngDialogData.image}}" back-size="contain")

            div.productPage__cover(ng-show="prpgCtrl.isVideo(ngDialogData.image)")
                iframe(ng-src='{{prpgCtrl.setVideo(ngDialogData.video[0])}}', frameborder='0', allowfullscreen='allowfullscreen' style="width:100%;height:100%;")

            .baseProduct__videoGallery(ng-hide="prpgCtrl.isVideo(ngDialogData.image)")
                .productPage__video(ng-repeat='video in ngDialogData.video')
                    iframe(ng-src='{{prpgCtrl.setVideo(video)}}', frameborder='0', allowfullscreen='allowfullscreen' style="width:100%;height:100%;")

            .baseProduct__videoGallery(ng-show="prpgCtrl.isVideo(ngDialogData.image)")
                .productPage__video(ng-repeat='video in ngDialogData.video' ng-show="!$first")
                    iframe(ng-src='{{prpgCtrl.setVideo(video)}}', frameborder='0', allowfullscreen='allowfullscreen' style="width:100%;height:100%;")
        
        div.column.productPage__column.productPage__column_left
            p.productPage__description {{ngDialogData.description}}
            span.productPage__price Цена: {{ngDialogData.price}} руб.
            button.button.button_dark.productPage__button(ng-click='prpgCtrl.addToCart(ngDialogData, 1); closeThisDialog()') Добавить в корзину
