.ngdialog-content {
    width: 50%;
}

.productPage {

    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__column {
        width: 45%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        margin: 30px 0;
        font-size: 40px;
        font-family: Roboto;
        font-weight: 400;
        text-transform: uppercase;
        color: @primaryDarkText !important;
        text-align: center;
        line-height: 40px;
    }

    &__cover {
        width: 100%;
        height: 300px;
    }

    &__video {
        width: 50%;
        margin-top: 10px;
    }

    &__price {
        margin: 20px 0;
        display: block;
        font-size: 30px;
        font-family: Roboto;
        font-weight: 300;
        text-align: left;
        color: @primaryDarkText;

    }

    &__description {

    }

    &__button {
        color: @primaryLightText;
        font-size: 20px;
    }

}
