.cartSwitch {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    margin: 0;
    right: 50px;
    bottom: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: @primaryBlueColor;
    z-index: 5;
    transition: all 0.3s;

    &__image {
        width: 65%;
        height: 65%;
    }

    &__amount {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 25px;
        height: 25px;
        font-size: 20px;
        border-radius: 50%;
        background-color: @accentColor;
        text-align: center;
        line-height: 25px;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transition: all 0.3s;
    }
}
