.nav {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    background-color: @primaryBlueColor;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: 0.2s;

    &_hide {
        top: -60px;
        transition: 0.2s;
    }

    &__row {
        display: flex;
        flex-direction: row;
    }

    &__logo {
        flex-grow: 2;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-grow: 2;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
    }

    &__item {
        position: relative;
        padding: 0 20px;
        font-family: Roboto;
        font-size: 15px;
        color: @primaryLightText;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.1s;
        cursor: pointer;

        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 3px;
            left: 50%;
            position: absolute;
            background: #ffc107;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        &:hover:after {
            transition: 0.1s;
            width: 100%;
            left: 0;
        }

    }

    &__link {
        display: block;
        width: 100%;
        line-height: 60px;
    }

}
