.nav#nav(ng-controller="NavigationController as navigation")
    .container.nav__row
        span.logo.nav__logo YouTube shop
        ul.nav__list
            li.nav__item
                a.nav__link(href='#storeInfo') Услуги
            li.nav__item
                a.nav__link(href='#baseProduct') Заказать
            li.nav__item
                a.nav__link(href='#demo') Демо
