.footer {
    width: 100%;
    height: 100px;
    background-color: @secondaryColor;

    &__text {
        color: #fff;
        font-family: Roboto;
        font-weight: 300px;
        text-align: center;
    }

}
