.about#about(ng-controller="InfoController as Info")
  .container

    .row.about__row
      .column.about__column

        figure.about__figure
          .about__image(back-img="{{'connects/uploads/' + Info.info[8].content}}")
          .about__image-description {{Info.info[4].content}}

      .column.about__column.about__text-container
        h3.about__title {{Info.info[0].content}}
        p.about__description {{Info.info[1].content}}

    .row.about__row
      .column.about__column.about__text-container
        h3.about__title {{Info.info[2].content}}
        p.about__description {{Info.info[3].content}}
      .column.about__column
        figure.about__figure
          .about__image(back-img="{{'connects/uploads/' + Info.info[9].content}}")
          .about__image-description {{Info.info[5].content}}
