.about {
    padding: 50px 0;

    &__row {
        width: 100%;
        margin-bottom: 50px;
    }

    &__column {
        width: 50%;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px;
        box-sizing: border-box;
    }

    &__title {
        margin: 10px 0;
        font-family: Roboto;
        font-weight: 500;
        color: @primaryBlueColor;
    }

    &__description {
        font-family: Roboto;
        font-weight: 300;
    }

    &__figure {
        margin: 0;
        max-width: 600px;
        width: 100%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
    }

    &__image {
        width: 100%;
        height: 340px;

        &-description {

            height: 60px;
            width: 100%;
            background-color: @accentColor;
            text-align: center;
            font-family: Roboto;
            font-weight: 300;
            font-size: 30px;
            line-height: 60px;
            color: @primaryLightText;

        }

    }

}
